/* App.css */
body {
  background-color: #333; /* 深色背景 */
  color: #fff; /* 白色文字 */
  font-family: 'Arial', sans-serif; /* 使用常见字体 */
}

.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #444; /* 比背景稍亮的颜色 */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* 添加阴影效果 */
}

input, button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

input {
  width: 70%;
}

button {
  cursor: pointer; /* 鼠标悬停时的手形指针 */
  background-color: #5C5C5C; /* 按钮背景色 */
  color: white;
}

button:hover {
  background-color: #7D7D7D; /* 鼠标悬停时按钮背景色 */
}

ul {
  list-style-type: none; /* 去除列表符号 */
  padding: 0;
}

li {
  background-color: #555; /* 列表项背景色 */
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}
